<div class="mb-3 container" style="margin-top: 15%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{character?.image}}" class="img-fluid rounded-start" alt="{{character.name}}">
      </div>
      <div class="col-md-8">
        <h5 class="card-title mt-5">{{character.name}}</h5>
        <div class="card-body mt-3">
          <p class="card-text">Gender: {{character.gender}}</p>
          <p class="card-text">Specie: {{character.species}}</p>
          <p class="card-text">Location: {{character.location.name}}</p>
          <p class="card-text">Id: {{character.id}}</p>
        </div>
      </div>
    </div>
  </div>